<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.espacocolorido">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EscolhaACorAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AprendendoCoresAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CombinacaoCoresAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultadoDaEscolhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DesenhosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAcitivity"
            android:screenOrientation="portrait" />
        <activity android:name=".JogoDaMemoriaAcitivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>